<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= render 'shared/copyright' %>
    </div>
    <%= render 'shared/login_modal' %>
    <%= render 'shared/sign_up_modal' %>
    <%= render 'shared/product_quick_view_modal' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>